@page "/consultaTenis"

<PageTitle>Consulta Tenis</PageTitle>

@inject TenisBLL tenisBLL
<AuthorizeView Context="Context">
    <Authorized>
        <EditForm Model="lista">
            <div class="card">
                <div class="card-header">
                    <h1>Consulta de Tenis</h1>
                </div>

                <div class="card-body">
                    <div class="row">

                        <div class="col-2">
                            <label class="form-label">Filtro</label>
                            <select class="form-control" @bind="Filtro">
                                <option value="1">Id</option>
                                <option value="2">Descripción</option>
                                <option value="3">Fecha</option>
                                <option value="4">Marca</option>
                                <option value="5">Costo</option>
                                <option value="6">Precio</option>
                                <option value="7">Color</option>
                                <option value="8">Itbis</option>
                                <option value="9">Size</option>
                                <option value="10">Existencia</option>
                                <option value="11">Todos</option>
                            </select>
                        </div>

                        <div class="col-3">
                            <label class="form-label">Criterio</label>
                            <input type="text" class="form-control" @bind="Criterio">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label class="form-label">Fecha inicial</label>
                            <InputDate class="form-control" @bind-Value="FechaInicial" />
                        </div>

                        <div class="col-3">
                            <label class="form-label">Fecha final</label>
                            <InputDate class="form-control" @bind-Value="FechaFinal" />
                        </div>

                        <div class="col-3 d-flex align-items-end">
                            <button type="button" class="btn btn-primary" @onclick="Buscar">
                                <span class="oi oi-magnifying-glass"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Descripción</th>
                            <th>Fecha</th>
                            <th>Marca</th>
                            <th>Costo</th>
                            <th>Precio</th>
                            <th>Color</th>
                            <th>Itbis</th>
                            <th>Size</th>
                            <th>Existencia</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in lista)
                        {
                            <tr>
                                <td>@item.TeniId</td>
                                <td>@item.Descripcion</td>
                                <td>@item.Fecha</td>
                                <td>@item.Marca</td>
                                <td>@item.Costo</td>
                                <td>@item.Precio</td>
                                <td>@item.Color</td>
                                <td>@item.Itbis</td>
                                <td>@item.Size</td>
                                <td>@item.Existencia</td>
                                <td><a href="tenis/@item.TeniId">Ver</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </EditForm>
    </Authorized>
    <NotAuthorized>
        <div class="card">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center">
                        <h1 class="text">Inicio de sesión</h1>
                        <p>Para acceder a esta página, es necesario iniciar sesión..</p>
                        <a href="Identity/Account/Login"><button class="btn btn-primary">Iniciar sesión</button></a>
                    </div>
                </div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {

    public string Filtro { get; set; } = "";
    public string Criterio { get; set; } = "";
    public DateOnly FechaInicial { get; set; } = new DateOnly(2020, 05, 10);
    public DateOnly FechaFinal { get; set; } = DateOnly.FromDateTime(DateTime.Now);


    public List<Tenis> lista { get; set; } = new List<Tenis>();

    protected override void OnInitialized()
    {
        Buscar();
        lista = tenisBLL.GetList(o => true);
    }

    public void Buscar()
    {
        if (Filtro == "1")
        {
            lista = tenisBLL.GetList(o => o.TeniId.ToString().Contains(Criterio));
        }
        else if ((Filtro == "2"))
        {
            lista = tenisBLL.GetList(o => (o.Descripcion ?? "").Contains(Criterio));
        }
        else if ((Filtro == "3"))
        {
            lista = tenisBLL.GetList(o => o.Fecha >= FechaInicial && o.Fecha <= FechaFinal);
        }
        else if ((Filtro == "4"))
        {
            lista = tenisBLL.GetList(o => (o.Marca ?? "").Contains(Criterio));
        }
        else if ((Filtro == "5"))
        {
            lista = tenisBLL.GetList(o => o.Costo.ToString().Contains(Criterio));
        }
        else if ((Filtro == "6"))
        {
            lista = tenisBLL.GetList(o => o.Precio.ToString().Contains(Criterio));
        }
        else if ((Filtro == "7"))
        {
            lista = tenisBLL.GetList(o => (o.Color ?? "").Contains(Criterio));
        }
        else if ((Filtro == "8"))
        {
            lista = tenisBLL.GetList(o => o.Itbis.ToString().Contains(Criterio));
        }
        else if ((Filtro == "9"))
        {
            lista = tenisBLL.GetList(o => (o.Size ?? "").Contains(Criterio));
        }
        else if ((Filtro == "10"))
        {
            lista = tenisBLL.GetList(o => o.Existencia.ToString().Contains(Criterio));
        }
        else if ((Filtro == "11"))
        {
            lista = tenisBLL.GetList(O => true);
        }
        else
        {
            lista = tenisBLL.GetList(o => o.Fecha >= FechaInicial && o.Fecha <= FechaFinal);
        }
    }

}