@page "/consultaTennis"

<PageTitle>Consulta Tennis</PageTitle>

@inject TennisBLL tennisBLL

<EditForm Model="lista">
    <div class="card">
        <div class="card-header">
            <h1>Consulta de Tennis</h1>
        </div>
    
    <div class="card-body">
        <div  class="row">
            <div class="col-3">
                <label class="form-label">Criterio</label>
                <input type="text" class="form-control" @bind="Criterio">
        </div>

        <div class="col-2">
        <label class="form-label">Filtro</label>
            <select class="form-control" @bind="Filtro">
                <option value="1">TennisId</option>
                <option value="2">Marca</option>
                <option value="3">Costo</option>
                <option value="4">Precio</option>
                <option value="5">Existencia</option>
                <option value="6">Todos</option>
            </select>
        </div>

        <div class="col-3 d-flex align-items-end">
            <button type="button" class="btn btn-primary input-group-text" @onclick="Buscar">
            <i class="oi oi-magnifying-glass"/>Buscar</button>
        </div>

        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>TennisId</th>
                <th>Marca</th>
                <th>Costo</th>
                <th>Precio</th>
                <th>Existencia</th>
                <th>Todos</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in lista)
            {
                <tr>
                    <td>@item.TenniId</td>
                    <td>@item.Marca</td>
                    <td>@item.Costo</td>
                    <td>@item.Precio</td>
                    <td>@item.Existencia</td>
                    <td><a href="tennis/@item.TenniId">Ver</a></td>
                </tr>
            }
        </tbody>
    </table>    
</div>
</EditForm>

@code{
    
    public string Filtro {get;set;} = "";
    public string Criterio {get;set;} = "";

    public List<Tennis> lista {get;set;} = new List<Tennis>();

        protected override void OnInitialized()
        {
            Buscar();
        }

        public void Buscar()
        {
            if (Filtro == "1")
            {
                lista = tennisBLL.GetList(o => o.TenniId.ToString().Contains(Criterio));
            }
            else if ((Filtro == "2")){
                lista = tennisBLL.GetList(o => o.Marca!.ToLower() ==  Criterio.ToLower());
            }
            else if ((Filtro == "3")){
                lista = tennisBLL.GetList(o => o.Costo.ToString() == Criterio.ToLower());
            }
            else if ((Filtro == "4")){
                lista = tennisBLL.GetList(o => o.Precio.ToString() == Criterio.ToLower());
            }
            else if ((Filtro == "5")){
                lista = tennisBLL.GetList(o => o.Existencia.ToString() == Criterio.ToLower());
            }
            else{
                lista = tennisBLL.GetList(o => true);
            }
        }  
}