@page "/entrada"
@page "/entrada/{EntradaId:int}"

<PageTitle>Entrada</PageTitle>

@inject EntradaBLL entradaBLL
@inject TenisBLL tenisBLL
@inject MarcaBLL marcaBLL
@inject NotificationService notificationService

<EditForm Model="entrada" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="card">
        <div class="card-header">
            <h1>Registro de entrada</h1>
        </div>

        <div class="card-body">

            @*EntradaId*@
            <div class="row">
                <div class="col-3">
                    <label>Id: </label>
                    <input type="number" class="form-control" @bind-value="entrada.EntradaId">
                </div>
                <div class="col-3 d-flex align-items-end">
                    <button type="button" class="btn btn-primary" @onclick="Buscar">
                        <span class="oi oi-magnifying-glass"></span>
                    </button>
                </div>
            </div>

            <div class="row">
                @*Fecha*@
                <div class="col-6">
                    <label>Fecha: </label>
                    <InputDate @bind-Value="entrada.Fecha" class="form-control" />
                    <ValidationMessage For="@(() => entrada.Fecha)" />
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    @*TeniId*@
                    <label>Marca: </label>
                    <InputSelect class="form-select" @bind-Value="entrada.MarcaId">
                        @foreach (var item in tenisBLL.GetList(o => true)
                        .Select(t => marcaBLL.Buscar(t.MarcaId))
                        .GroupBy(m => m.NombreMarca)
                        .Select(g => g.First()))
                        {
                            <option value="@item.MarcaId">@item.NombreMarca</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => entrada.MarcaId)" />
                </div>
                <div class="col-6">
                    @*cantidad*@
                    <label>Cantidad: </label>
                    <InputNumber @bind-Value="entrada.Cantidad" class="form-control" />
                    <ValidationMessage For="@(() => entrada.Cantidad)" />
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    @*Color*@
                    <label>Color: </label>
                    <InputSelect class="form-select" @bind-Value="entrada.Color">
                        <option value="" selected>Selecciona un color</option>
                        @foreach (var color in tenisBLL.GetList(o => o.MarcaId == entrada.MarcaId).Select(t =>
                        t.Color).Distinct().ToList())
                        {
                            <option value="@color">@color</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => entrada.Color)" />
                </div>
                <div class="col-6">
                    @*Size*@
                    <label>Size: </label>
                    <InputSelect class="form-select" @bind-Value="entrada.Size">
                        <option value="" selected>Selecciona un size</option>
                        @foreach (var size in tenisBLL.GetList(o => o.MarcaId == entrada.MarcaId && o.Color ==
                        entrada.Color).Select(t => t.Size).Distinct().ToList())
                        {
                            <option value="@size">@size</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => entrada.Size)" />
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="form-group text-center" display: inline-block>
                <button type="button" class="btn btn-lg btn-primary" @onclick="Nuevo"><i class="oi oi-file" /> Nuevo
                </button>
                <button type="submit" class="btn btn-lg btn-success"><i class="oi oi-document" />
                    Guardar </button>
                <button type="button" class="btn btn-lg btn-danger" @onclick="Eliminar"><i class="oi oi-trash" />
                    Eliminar </button>
            </div>
        </div>
    </div>
</EditForm>


@code {
    [Parameter]
    public int EntradaId { get; set; }

    public Entrada entrada { get; set; } = new Entrada();



    protected override void OnInitialized()
    {
        if (EntradaId > 0)
        {
            this.entrada.EntradaId = EntradaId;
            this.Buscar();
        }
    }

    public void Nuevo()
    {
        entrada = new Entrada();
    }

    bool Validar()
    {
        bool Validar = true;

        if (entrada.Cantidad <= 1)
        {
            Validar = false;
            ShowNotification(
            new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "El valor ingresado en la cantidad debe ser mayor que cero."
                }
            );
        }

        if (entrada.MarcaId <= 0)
        {
            ShowNotification(
            new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Los campos de la marca, el color y el size deben estar llenados correctamente."
                }
            );
            Validar = false;
        }

        return Validar;
    }


    void Guardar()
    {
        if (!Validar()) { return; }

        if (entradaBLL.Guardar(this.entrada))
        {
            ShowNotification(
            new NotificationMessage
                {
                    Severity = NotificationSeverity.Success,
                    Summary = "Se ha guardado con exito."
                }
            );
            this.Nuevo();
        }
    }

    private void Buscar()
    {
        if (entrada.EntradaId > 0)
        {
            var encontrado = entradaBLL.Buscar(entrada.EntradaId);

            if (encontrado != null)
            {
                this.entrada = encontrado;
            }
        }
    }

    public void Eliminar()
    {
        if (entradaBLL.Eliminar(entrada.EntradaId))
        {
            ShowNotification(
            new NotificationMessage
                {
                    Severity = NotificationSeverity.Info,
                    Summary = "Se ha eliminado con exito."
                }
            );
            Nuevo();
        }
        else
        {
            ShowNotification(
            new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "No hay elementos para borrar."
                }
            );
            return;
        }
    }

    void ShowNotification(NotificationMessage message)
    {
        notificationService.Notify(message);
    }
}

